<style>

    .form {
        margin-top: 100px;
    }

    .form-group {
        margin-bottom: 10px;
    }
</style>
@{
    ViewBag.Title = "Home Page";
}

<style>
    .header-container {
        height: 100px;
        width: %100;
        background-color: #DDDDDD;
    }

    .logo {
        height: 100px;
        width: 100px;
        background-color: black;
        float: left;
    }

    .menu-container {
        height: 50px;
        width: 200px;
        margin-right: 10px;
        float: right;
        margin-top: 23px;
    }

        .menu-container li {
            list-style: none;
            text-decoration: none;
            float: left;
            font-size: 20px;
        }

        .menu-container a {
            text-decoration: none;
            color: black;
            font-family: "Cabin", Arial, Helvetica, sans-serif;
            transition: all 1s;
            text-shadow: 1px 1px white;
        }

            .menu-container a:hover {
                text-decoration: underline;
                transition: all 1s;
            }
</style>
<html>
<body>
    <div class="header-container">

        <div class="logo">
        </div>

        <div class="menu-container">
            <ul class="menu">
                <li><a href="">Hakkımda</a></li>
                <li><a href="">/</a></li>
                <li><a href="">Portföy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>

<div class="form">

    <form method="post" action="" enctype="multipart/form-data">

        <div class="form-group">
            <label>Art Name</label>
            <input type="text" name="Name" class="form-control" placeholder="name" />
        </div>

        <div class="form-group">
            <label>Art Detail</label>
            <input type="text" name="Detail" class="form-control" placeholder="detail" />
        </div>

        <div class="form-group">
            <label>Art Link </label>
            <input type="text" name="Link" class="form-control" placeholder="link" />
        </div>

        <button type="submit" class="btn btn-success">Gönder</button>
    </form>
</div>