@model List<Entities.Photograph>
@{
    /**/

    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Home Page";
}
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

        body { }
       

       
        .galeri-container{height: 99%; width: 80%; background-color: white; float: right; margin-top: -665px;  }
        
    </style>
</head>
<body>
    <div class="galeri-container">

      
    </div>
</body>

<body>
    <script>

        $('document').ready(function () {
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',

                gutter: 0
            });
        })



    </script>
</body>
</html>