<html>
<head>


    <style>

        body { width: 1132px; height: 606px; background-color: #f1f1f1; }
        .praying-hand-png { margin-left: 509px; margin-top: 130px; }
        .bolume-yazmal-icin { width: 331px; height: 24px; font-family: Helvetica; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #000000; margin-left: 400.5px; margin-top: 20px; }
        .info { width: 428px; height: 68px; font-family: Helvetica; font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #000000; margin-left: 348px; margin-top: 20px; }
        .left-button { width: 200px; height: 40px; border-radius: 5px; background-image: linear-gradient(to bottom, #fd8645, #ff5748); float: left; }
        .right-button { width: 200px; height: 40px; border-radius: 5px; background-image: linear-gradient(to bottom, #fd8645, #ff5748); float: left; margin-left: 10px; }
        .buttons { margin-left: 361px; margin-top: 20px; }
        .little-info { width: 377px; height: 34px; font-family: Helvetica; font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #999999; margin-left:378px; margin-top:20px;}
    </style>

</head>

<body>


    </div>

    <div class="praying-hand-png">

        <img src="~/photo/palms-up-together-1-f-932@3x.png" style="width: 125px; height: 100px; object-fit: contain; " />
    </div>


    <div class="bolume-yazmal-icin">Bölüme Yazmak için Seçim Yapınız</div>
    <div class="info">
        Dinlerle alakalı bu bölüm yalnızca bilgi alışverişi içindir. Tartışmaların
        önüne geçmek adına görüşünüzü belirtmeniz gerekiyor. "Dini
        inancınız yoksa" bölümü kısıtlama olmadan gezebilirsiniz
        ancak yorum yazamaz ve yeni konu açamazsınız.
    </div>
    <div class="buttons">
        <div class="left-button"></div>
        <div class="right-button"></div>
    </div>
    <div class="little-info">
        (Dikkatlice seçim yapınız. Daha sonra değiştirmek isterseniz,
        Forum Destek üzerinden kayıt oluşturmanız gerekir.)
    </div>

</body>
