
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

    <style>
       
        
        
        body {
            background-color: #333;
        }

        .photoakisi {
            max-width: 900px;
            height: auto;
            background-color: grey;
        }

        .grid {
            margin-top: 10px;
            margin-left: 10px;
        }

        .grid-item img {
            border-radius: 5px;
        }

        .container {
            float: left;
            position: relative;
            width: 300px;
            max-width: 400px;
            /*transition: 1s ease;*/
            z-index: 1;
            margin-bottom: 10px;
        }

            .container img {
                width: 100%;
                height: auto;
            }



            .container .btn {
                font-size: 16px;
                border: none;
                cursor: pointer;
                filter: brightness(0) invert(1);
                height: 25px;
                padding: 5px;
                float: left;
            }

            .container .btn-fb {
                height: 33px;
                margin-top: -3px;
            }






            .container .btn:hover {
                filter: brightness(0) invert(1);
            }



        .btn-container {
            width: 80px;
            padding: 10px;
            height: 40px;
            background-color: rgba(0,0,0,0.2);
            position: absolute;
            bottom: 10px;
            left: 20px;
            border-radius: 5px;
        }

            .btn-container a {
                color: white;
            }

            .btn-container .fa-heart:hover {
                color: red;
            }

            .btn-container .fa-facebook-square:hover {
                color: #3b5998;
            }

            .btn-container .fa-twitter-square:hover {
                color: #00acee;
            }
           
    </style>
</head>
<body>

    <div class="grid">


      
        <div class="photoakisi">
            <div class="container grid-item">
                <div class="buttons">
                    <img src="https://i.hizliresim.com/zGdZLD.png" alt="Snow" style="width:100%">

                    <div class="btn-container">
                        <a href=""><span class="fas fa-heart"></span></a>
                        <a href=""> <span class="fab fa-facebook-square"></span></a>
                        <a href=""> <span class="fab fa-twitter-square"></span></a>
                    </div>

                </div>
            </div>

            <div class="container grid-item">
                <div class="buttons">
                    <img c src="https://i.hizliresim.com/Z5Gb6A.jpg" alt="Snow" style="width:100%">

                    <div class="btn-container">
                        <a href=""><span class="fas fa-heart"></span></a>
                        <a href=""> <span class="fab fa-facebook-square"></span></a>
                        <a href=""> <span class="fab fa-twitter-square"></span></a>
                    </div>

                </div>
            </div>


            <div class="container grid-item">
                <div class="buttons">
                    <img src="https://i.hizliresim.com/P7XLdQ.jpg" alt="Snow" style="width:100%">

                    <div class="btn-container">
                        <a href=""><span class="fas fa-heart"></span></a>
                        <a href=""> <span class="fab fa-facebook-square"></span></a>
                        <a href=""> <span class="fab fa-twitter-square"></span></a>
                    </div>

                </div>
            </div>



            <div class="container grid-item">
                <div class="buttons">
                    <img src="https://i.hizliresim.com/zGdZLD.png" alt="Snow" style="width:100%">

                    <div class="btn-container">
                        <a href=""><span class="fas fa-heart"></span></a>
                        <a href=""> <span class="fab fa-facebook-square"></span></a>
                        <a href=""> <span class="fab fa-twitter-square"></span></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script>

        $('document').ready(function () {
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',
                columnWidth: 300,
                gutter: 10
            });
        })



    </script>
</body>
</html>
