
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Home Page";
}




<style>
    body{margin:0 !important;}
    .header-container {
        height: 100px;
        width: %100;
        background-color: #DDDDDD;
        
    }

    .logo {
        height: 100px;
        width: 100px;
        background-color: black;
        float: left;
    }

    .menu-container {
        height: 50px;
        width: 230px;
        margin-right: 10px;
        float: right;
        margin-top: 23px;
    }

        .menu-container li {
            list-style: none;
            text-decoration: none;
            float: left;
            font-size: 20px;
        }

    .un {
        display: inline-block;
    }

        .un:after {
            content: '';
            width: 0px;
            height: 1px;
            display: block;
            background: black;
            transition: 300ms;
        }

        .un:hover:after {
            width: 100%;
        }

    .menu-container a {
        text-decoration: none;
        color: black;
        font-family: "Cabin", Arial, Helvetica, sans-serif;
        transition: all 1s;
    }



    .footer-container {
        height: 75px;
        width: %100;
        background-color: #DDDDDD;
        margin-top: 100px;
    }

    .iletisim-container {
        width: 250px;
        height: 75px;
        float: right;
    }

    .haberdarol {
        margin-top: 10px;
        margin-left: 10px;
        font-family: "Cabin", Arial, Helvetica, sans-serif;
    }

    .input1 {
        margin-left: 10px;
        border: none;
        border-radius: 2px;
    }

    .button1 {
        margin-left: 10px;
        margin-top: 3px;
        background-color: white;
        border: none;
        border-radius: 2px;
    }

        .button1:hover {
            background-color: black;
            color: white;
        }

    .sosyalmedya {
        height: 75px;
        width: auto;
        float: left;
       
        
    }

    .social {
        list-style: none;
        text-decoration: none;
       
        width:400px;
        height:75px;
        margin-top:3px;
    }

        .social li {
            text-decoration: none;
            float: left;
        }

        .social a {
            text-decoration: none;
            color: black;
            font-family: "Cabin", Arial, Helvetica, sans-serif;
        }
        .social img {height:40px; margin-top:20px;}

    .facebook {
        display: inline-block;
    }

        .facebook:after {
            content: '';
            width: 0px;
            height: 1px;
            display: block;
            background: #4267B2;
            transition: 300ms;
        }

        .facebook:hover:after {
            width: 100%;
        }

        .facebook a:hover {
            color: #4267B2;
            font-weight: bold;
        }
        .facebook img:hover{color:#4267B2;}

    .twitter {
        display: inline-block;
    }

        .twitter:after {
            content: '';
            width: 0px;
            height: 1px;
            display: block;
            background: #00b7eb;
            transition: 300ms;
        }

        .twitter:hover:after {
            width: 100%;
        }

        .twitter a:hover {
            color: #00b7eb;
            font-weight: bold;
        }

    .instagram {
        display: inline-block;
    }

        .instagram:after {
            content: '';
            width: 0px;
            height: 1px;
            display: block;
            background: #cd486b;
            transition: 300ms;
        }

        .instagram:hover:after {
            width: 100%;
        }

        .instagram a:hover {
            color: #cd486b;
            font-weight: bold;
        }
        .footer-orta{height:75px;width:200px; background-color:yellow;}
</style>

<html>
<body>
    <div class="header-container">

        <div class="logo">
        </div>

        <div class="menu-container">

            <ul class="menu">
                <li class="un"><a href="">Hakkımda</a></li>
                <li class="un"><a href="">/</a></li>
                <li class="un"><a href="">Portfolyo</a></li>
            </ul>
        </div>


    </div>

    <div class="footer-container">
        <div class="sosyalmedya">

            <ul class="social">
                <li class="facebook"><a href=""><img src="https://i.hizliresim.com/bvNk7n.png" /></a></li>
                
                <li class="twitter"><a href=""><img src="https://i.hizliresim.com/lQn36l.png" /></a></li>
                
                <li class="instagram"><a href=""><img src="https://i.hizliresim.com/zGdazB.png" /></a></li>
            </ul>
        </div>
        <div class="iletisim-container">

            <div class="haberdarol">
                Yeni Sanatlardan Haberdar Ol!
            </div>
            <input tpye="text" class="input1" placeholder="e mail">
            <br>
            <input type="button" value="Haberdar Et !" class="button1">

        </div>
        <div class="footer-orta">


        </div>



    </div>
</body>
</html>