
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Home Page";
}




<style>
    .header-container {
        height: 100px;
        width: %100;
        background-color: #DDDDDD;
    }

    .logo {
        height: 100px;
        width: 100px;
        background-color: black;
        float: left;
    }

    .menu-container {
        height: 50px;
        width: 250px;
        margin-right: 0px;
        float: right;
        margin-top: 23px;
    }

        .menu-container li {
            list-style: none;
            text-decoration: none;
            float: left;
            font-size: 20px;
        }

        .menu-container a {
            text-decoration: none;
            color: black;
            font-family: "Cabin", Arial, Helvetica, sans-serif;
            transition: all 1s;
            text-shadow: 1px 1px white;
        }

            .menu-container a:hover {
                text-decoration: underline;
                transition: all 1s;
            }
</style>
<html>
<body>
    <div class="header-container">

        <div class="logo">
        </div>

        <div class="menu-container">
            <ul class="menu">
                <li><a href="">Hakkımda</a></li>
                <li><a href="">/</a></li>
                <li><a href="">Portfolyo</a></li>
            </ul>
        </div>






    </div>
</body>
</html>


