

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>


<style>


    body {
        margin: 0;
        color: #333;
    }

    .footer-container {
        height: 100px;
        width: 100%;
        background-color: #222;
        /*margin-top: 100px;
        position: fixed;*/
        bottom: 0;
        z-index: 1000;
        color: #444;
    }

    .iletisim-container {
        width: 380px;
        height: 75px;
        float: right;
    }

    .haberdarol {
        margin-top: 10px;
        margin-left: 40px;
        font-family: "Cabin", Arial, Helvetica, sans-serif;
    }

    .input1 {
        margin-left: 10px;
        border: none;
        border-radius: 2px;
        margin-top: 17px;
        background-color: #444444;
    }

    #letmeknow .button1 {
        margin-left: 200px;
        margin-top: -7px;
        background-color: #444444;
        border: none;
        border-radius: 2px;
    }

    .button1:hover {
        background-color: black;
        color: white;
    }

    .sosyalmedya {
        height: 75px;
        width: auto;
        float: left;
    }

    .social {
        list-style: none;
        text-decoration: none;
        width: 400px;
        height: 75px;
        margin-top: 0px;
    }

        .social li {
            text-decoration: none;
            float: left;
        }

        .social a {
            text-decoration: none;
            color: black;
            font-family: "Cabin", Arial, Helvetica, sans-serif;
        }

        .social img {
            height: 40px;
            margin-top: 20px;
        }




    .yenimenu {
        text-align: center;
    }

    #menu-button {
        background-color: #222;
        height: 80px;
        color: black;
        float: left;
        padding-top: 25px;
        text-decoration: none;
    }

        #menu-button a {
            color: black;
            text-decoration: none;
            font-family: "Cabin", Arial, Helvetica, sans-serif;
        }

    #socialmediabutton {
        height: 100px;
        background-color: #222;
        float: left;
    }

    #letmeknow {
        height: 100px;
        background-color: #222;
        float: right;
        border:1px solid black;
    }

    .footer {
        background-color: #222;
        height: 100px;
    }

    #letmeknow .input1 {
        float: left;
    }

    #letmeknow .button1 {
        float: left;
        margin-left: 10px;
    }

    .sosyalmedya-butonlari {
       margin-top:30px;
       text-align:center;
      
        
    }

        .sosyalmedya-butonlari a {
           
            text-decoration: none;
          
            color:#333;
            font-size:250%;
            text-align:center;
        }
      .fa-bars{background-color:#555; border-radius:2px; border:none;}
</style>




<body>
    <div id="container-yenimenu">
        <div class="col-xs-6 col-sm-6 com-md-6 col-lg-2" id="menu-button">

        </div>

        <div class="col-xs-6 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="">İletişim</a></div>
        </div>

        <div class="col-xs-6 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="">Anasayfa</a></div>
        </div>

        <div class="col-xs-6 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="">Sanatlar</a></div>
        </div>

        <div class="col-xs-6 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="">Sanatlar</a></div>
        </div>

        <div class="col-xs-6 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="">Hakkımda</a></div>

        </div>


    </div>
    <button  class="fas fa-bars" onclick="myFunction()"></button>



    @RenderBody()

    <div class="footer">
        <div class="col-xs-6 col-sm-6 com-md-6 col-lg-2" id="socialmediabutton">
           
                <div class="sosyalmedya-butonlari">
                    <a href=""><span class="fab fa-facebook-square"></span></a>
                    <a href=""><span class="fab fa-twitter-square"></span></a>
                    <a href=""> <span class="fab fa-instagram"></span></a>
                </div>
           
        </div>

        <div class="col-xs-6 col-sm-6 com-md-6 col-lg-6" id="letmeknow">
            <div class="haberdarol">
                <div class="haberdarolext">Yeni Sanatlardan Haberdar Ol!</div>
            </div>

            <input tpye="text" class="input1" placeholder="e mail">
            <br>
            <input type="button" value="Haberdar Et !" class="button1">
        </div>

    </div>




    <script>
        function myFunction() {
            var x = document.getElementById("container-yenimenu");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>