<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>

    body { margin: 0; color: #333; }

    .footer-container { height: 100px; width: 100%; background-color: #222; bottom: 0; z-index: 1000; color: #444; }

    .iletisim-container { width: 380px; height: 75px; float: right; }

    .sosyalmedya { height: 75px; width: auto; float: left; }

    .social { list-style: none; text-decoration: none; width: 400px; height: 75px; margin-top: 0px; }

        .social li { text-decoration: none; float: left; }

        .social a { text-decoration: none; color: black; font-family: "Cabin", Arial, Helvetica, sans-serif; }

        .social img { height: 40px; margin-top: 20px; }

    .yenimenu { text-align: center; }

    #menu-button { background-color: white; height: 80px; color: black; float: left; padding-top: 25px; text-decoration: none; border-bottom: 1px solid #888; }
     #menu-button-darkmode { background-color: black; height: 80px; color: black; float: left; padding-top: 25px; text-decoration: none; border-bottom: 1px solid #888; }

        #menu-button a { color: #777; text-decoration: none; font-family: 'Ink Free'; font-size: 20px; }

            #menu-button a:hover { color: #888; font: bold 18px 'Ink Free'; }

    #socialmediabutton { height: 100px; background-color: #222; float: left; }

    .footer { background-color: #222; height: 100px; }

    .sosyalmedya-butonlari { margin-top: 30px; text-align: center; }

        .sosyalmedya-butonlari a { text-decoration: none; color: #333; font-size: 250%; text-align: center; }

    .fa-bars { background-color: white; border-radius: 2px; border: none; }

    .footersag { height: 100px; float: right; background-color: #222222; }

    .sendMeEmail { margin-top: 32px; }

    #hidebutton { border: none; text-align: center; background-color: #e8e8e8; font-size: 20px; margin-left:12px; }

    #mode { border: none; text-align: center; background-color: #e8e8e8; font-size: 20px; }
</style>

<body>
    <div id="container-yenimenu">
        <div class="col-xs-12 col-sm-6 com-md-6 col-lg-2" id="menu-button">
        </div>

        <div class="col-xs-12 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="@Url.Action("Index","Home")">Home Page</a></div>
        </div>

        <div class="col-xs-12 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="@Url.Action("allArts","Home")">All Arts</a></div>
        </div>

        <div class="col-xs-12 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="@Url.Action("sendArt","Photograph")">Send Art</a></div>
        </div>

        <div class="col-xs-12 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="">Market</a></div>
        </div>

        <div class="col-xs-12 col-sm-6 com-md-6 col-lg-2" id="menu-button">
            <div class="yenimenu"> <a href="">Contact</a></div>
        </div>
    </div>
    <button class="fas fa-arrow-alt-circle-up" onclick="hidef()" id="hidebutton"></button>
    <button class="fas fa-sun" onclick="changeTheme()" id="mode"></button>

    @RenderBody()

    <div class="footer">
        <div class="col-xs-12 col-sm-6 com-md-6 col-lg-6" id="socialmediabutton">

            <div class="sosyalmedya-butonlari">
                <a href=""><span class="fab fa-facebook-square"></span></a>
                <a href=""><span class="fab fa-twitter-square"></span></a>
                <a href=""> <span class="fab fa-instagram"></span></a>
            </div>
        </div>

        <div class="footersag col-xs-12 col-sm-6 com-md-6 col-lg-6">
            <div class="sendMeEmail">
                <input type="text" class="mailInput" placeholder="e mail" />
                <input type="button" class="mailbutton" value="Send Me Mail" />
            </div>
        </div>
    </div>

    <script>

        function hidef() {

            $("#hidebutton").toggleClass('fa-arrow-alt-circle-down').toggleClass('fa-arrow-alt-circle-up');
            $("#container-yenimenu").slideToggle(1000);

        }

        function changeTheme() {
            
            $("#mode").toggleClass('fa-sun').toggleClass('fa-moon');
            
             
            
        }


    </script>
</body>
</html>